/.metadata/
.sonarlint/default/.sonartmp_7832361713937664038/sonarlint-slf4j-sonar-log5684688586830412501.jar
*.jar
qa-automation/testng.xml
qa-automation/testng.xml
qa-automation/src/test/resources/SOS_GMA_Account_template.xls
*.xls
*.xls
*.xls
*.xml
qa-automation/src/test/resources/chromedriver.exe
qa-automation/runProject2.bat
.sonarlint/default/.sonartmp_11551513561439719297/sonarlint-slf4j-sonar-log13100491186392153552.jar
