<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="1">
	<listeners>
		<listener class-name="at.framework.reportsetup.Listeners"></listener>
	</listeners>

	<test name="Test1">
	<parameter name = "driver" value="local"/> 
		<classes>
			<class name="at.smartshop.tests.Locker"/>				
			<class name="at.smartshop.tests.Locker"/>
			<class name="at.smartshop.tests.Locker"/>		   
			
		</classes>
	</test> <!-- Test -->
	
	<test name="v5">
	<parameter name = "driver" value="remote"/> 
		<classes>
			<class name="at.smartshop.tests.V5">				   
			</class>
		</classes>
	</test> <!-- Test -->
	
	
</suite> <!-- Suite -->