<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="1">
	<listeners>
		<listener class-name="at.framework.reportsetup.Listeners"></listener>
	</listeners>

	<test name="Test1">
		<classes>
			<class name="at.smartshop.tests.NationalAccount">
			</class>
		</classes>
	</test> <!-- Test -->
	<test name="Test2">
		<classes>
			<class name="at.smartshop.tests.Locker">
			</class>
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->